{
  debug
}

localhost:9090 {
  handle /api/* {
          reverse_proxy localhost:5000
  }

  handle /nostrnip5/* {
          reverse_proxy localhost:5000
  }

  handle /* {
          reverse_proxy localhost:8080
  }
}

localhost:9000 {

  reverse_proxy localhost:5000 {
          header_down Access-Control-Allow-Credentials true
          header_down Access-Control-Allow-Origin https://localhost:9090
  }
}
