{
	debug
	email stan.v.vlad@gmail.com
}

http://localhost:9090 {
	@saas {
		path /api*
	}

	handle @saas {
		uri strip_prefix /api
		reverse_proxy http://localhost:8888 {
			header_up Host api.lnbits.com
		}
	}

	handle /* {
		reverse_proxy localhost:8080

	}
}
